*{
    margin: 0;
    padding:0;
    color: white;
}
div
{
 background-color: black;

}
a
{
text-decoration: none;
margin: 0px 70px 0px 0px;
}
#logo
{
   color: yellow;
   font-size: 28px;
}
#box
{
   background-color: yellow;
   border-radius: 10px;
}